@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-slate-50 text-slate-900;
  }
}